{#<nav class="navbar navbar-expand-lg navbar-dark bg-dark">#}
{#  <div class="container">#}
{#    <a class="navbar-brand " href="#">MENU：</a>#}
{#    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">#}
{#      <span class="navbar-toggler-icon"></span>#}
{#    </button>#}
{#    <div class="collapse navbar-collapse" id="navbarNavDropdown">#}
{##}
{#      <ul class="navbar-nav mr-auto">#}
{#        <li class="nav-item">#}
{#          <a class="nav-link" href="#">About?</a>#}
{#        </li>#}
{#      </ul>#}
{##}
{#      <ul class="navbar-nav">#}
{#        <li class="nav-item">#}
{#          <a class="nav-link" href="#">Depth Check!</a>#}
{#        </li>#}
{##}
{#        <li class="nav-item">#}
{#          <a class="nav-link logout" href="#">other</a>#}
{#        </li>#}
{#      </ul>#}
{#    </div>#}
{#  </div>#}
{#</nav>#}


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand " href="#">MENU：</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'kj_ai:input_url' %}">Top</a>
        </li>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'kj_ai:about' %}">About</a>
        </li>

          <li class="nav-item">
          <a class="nav-link" href="{% url 'kj_ai:about' %}">News</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'kj_ai:about' %}">Contact</a>
        </li>

      </ul>
    </div>
  </div>
</nav>